* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;

  .textarea,
  .preview {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }

  .textarea {
    font-size: 1.5rem;
    resize: none;
    background-color: #eff1f5;
  }

  .preview {
    overflow-y: auto;
    background-color: #e8eaf1;
  }
}
